{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hijos Felices</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-48x48.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=124">
</head>
<body>
    <div class="site-header">
        <h1>El Método</h1>
    </div>
    <div class="space"></div>
    <div class="container">
        <div class="imagen">
            <h3>¿Quieres que tu hijo se convierta en una persona
                de bien, responsable y con alta autoestima?</h3>
            <!-- <p>Encontrarás un método fácil y comprobado para hacerlo posible</p> -->
        </div>
        <div class="space"></div>
        <div class="imagen">
            <h3>¿Te gustaría ver a tu hijo seguro e independiente 
                (en un futuro no muy lejano)?</h3>
            <!-- <p>Esa es la mayor satisfacción de un padre/madre de familia </p> -->
        </div>
        <div class="space"></div>
        <div class="imagen">
            <h3>¿Puede tu hijo actualmente tomar sus propias 
                decisiones adecuadamente?</h3>
            <!-- <p>Encontrarás un método sencillo para tomar cualquier decisión de la manera correcta</p> -->
        </div>
        <div class="space"></div>
        <div class="imagen">
            <h3>¿Te gustaría aumentar la confianza con tu hijo 
                de tal manera que la conversación fluya entre 
                ambos de manera natural, sin límites?</h3>
            <!-- <p>Siguiendo los pasos del método que te mostramos en este ebook, va a aumentar drásticamente la confianza y la comunicación con tu hijo</p> -->
        </div>

        <div class="space"></div>
        <div class="space"></div>
        <div class="space"></div>
        <div class="imagen2">
            <h5>La formación de los hijos es una gran 
                responsabilidad, quizá la más importante que tenemos
                como padres y madres de familia.
                Queremos ayudar a la mayor cantidad
                de familias llevándoles un método fácil y práctico
                que eliminará: 
            <br> 
                • todas las barreras de comunicación 
            <br>
                • toda influencia negativa que recibe de redes
                  sociales y entorno
            <br>
                Aumentando la confianza y seguridad;
                tu hijo usará esta herramienta en automático, 
                sin pensarlo. 
            </h5>
        </div>    
        <div class="space"></div>
        <div class="space"></div>
        <a class="boton" href="{% url 'web:entorno4' %}"> 
            <h3>Continuar</h3>
        </a>
    </div> <!-- container -->

</body>
</html>