{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hijos Felices</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=124">
</head>
<body>
    <div class="site-header">
        <h1>El Entorno: Drogas, Entorno Negativo, Redes Sociales</h1>
    </div>
    <div class="container">
        <div class="space"></div> 
        <div class="imagen">
            <h3>¿Estás notando actitudes negativas en el comportamiento de tu hijo?</h3>
            <!-- <p>Tu hijo se hará consciente de esas actitudes negativas para poder eliminarlas</p> -->
        </div>        
        <div class="space"></div> 
        <div class="imagen">
            <h3>Piensas que sus amistades no son las adecuadas</h3>
            <!-- <p>Podrás mostrar a tu hijo una forma sencilla para analizar y decidir si una amistad le conviene o no</p> -->
        </div>
        <div class="space"></div>
        <div class="imagen">
            <h3>¿Quieres estar 100% seguro de la decisión que va a tomar tu hijo si algún amigo le ofrece drogas?</h3>
            <!-- <p>Con este método vas a estar seguro de la decisión que va a tomar tu hijo</p> -->
        </div>
        <div class="space"></div> 
        <div class="imagen">
            <h3>¿Se encierra en su habitación para estar en el celular y redes sociales?</h3>
            <!-- <p>No te hace caso de limitar el uso del celular</p> -->
        </div>
        <div class="space"></div> 
        <div class="imagen">
            <h3>¿Te gustaría poder aumentar la seguridad y autoestima de tu hijo?</h3>
            <!-- <p>Encontrarás un método para aumentar su seguridad y autoestima a niveles que no te imaginabas</p> -->
        </div>

        <div class="space"></div> 
        <div class="space"></div>
        <a class="boton" href="{% url 'web:entorno3' %}"> 
            <h3>Continuar</h3>
        </a>
     </div>
</body>
</html>