{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hijos Felices</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-48x48.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=124">
</head>
<body>
    <div class="site-header">
        <h1>Te damos la bienvenida</h1>
    </div>
    <div class="space"></div>
    <div class="container">
        <div class="imagen4">
            <h5>
                Te mostraremos un método muy fácil y práctico para 
                Mejorar Drásticamente la Comunicación con tus Hijos, 
                lo podrás implementar paso a paso, no importa la edad de 
                tus hijos, desde niños hasta jóvenes. 
            </h5>
            <h5> En sólo unos días verás resultados increíbles</h5>
        </div>
    </div>
    <div class="space"></div>
    <div class="space"></div>
    <a class="boton" href="{% url 'web:entorno1' %}">  <!-- 3 OJO-->    
           <h3>Continuar</h3>
    </a>
   
</body>
</html>