{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hijos Felices</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon-48x48.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=123">    
</head>
<body>
    <div class="site-header-paypal">
        <h1>Formulario de Pago</h1>
    </div>
    <br><br><br><br><br><br><br>
    
    <h2>Resumen del cliente</h2>
    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
    <p><strong>Email:</strong> {{ cliente.email }}</p>
    <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
    <p><strong>Ciudad:</strong> {{ cliente.ciudad }}</p>

    <hr>
    
    <h3>Pagar con PayPal</h3>
    <div class="centrar-paypal">
        <div class="boton-pago" id="paypal-button-container"></div>
    </div>

    <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD"></script>
    <script>
    paypal.Buttons({
        createOrder: function(data, actions) {
            return actions.order.create({
                purchase_units: [{
                    amount: {
                        value: "7.00"  // Cambia esto por el monto real si es variable
                    }
                }]
            });
        },
        onApprove: function(data, actions) {
            return actions.order.capture().then(function(details) {
                // Redirigir al éxito
                window.location.href = "{% url 'web:paypal_success' cliente.id %}";
            });
        },
        onCancel: function(data) {
            // Redirigir al cancelar
            window.location.href = "{% url 'web:paypal_cancel' cliente.id %}";
        }
    }).render('#paypal-button-container');
    </script>
</body>
</html>