{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hijos Felices</title>
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}?v=123">    
</head>
<body>
    <div class="site-header-paypal">
        <h1>Formulario de Pago</h1>
    </div>

    <br><br><br><br><br><br><br>

    <h2>Resumen del Cliente</h2>
    <p><strong>Nombre:</strong> {{ cliente.nombre }}</p>
    <p><strong>Email:</strong> {{ cliente.email }}</p>
    <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
    <p><strong>Ciudad:</strong> {{ cliente.ciudad }}</p>

    <hr>
    
    <h3>Pagar con PayPal</h3>
    <br>
    <h3>Pago Único: $7.00 USD</h3>
    <div class="centrar-paypal" style="margin-top: 20px;">
        <div class="boton-pago" id="paypal-button-container"></div>
    </div>

    <!-- SDK de PayPal con ajustes para evitar conflictos -->
    
    <script src="https://www.paypal.com/sdk/js?client-id={{ PAYPAL_CLIENT_ID }}&currency=USD&intent=capture&commit=true"></script>
    
    <!-- Botón de pago -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            paypal.Buttons({
                fundingSource: paypal.FUNDING.PAYPAL,
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: { value: "7.00" }
                        }]
                    });
                },
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {
                        window.location.href = "{% url 'web:paypal_success' cliente.id %}";
                    });
                },
                onCancel: function(data) {
                    window.location.href = "{% url 'web:paypal_cancel' cliente.id %}";
                },
                onClick: function() {
                    // Este cambio ayuda a forzar el redirect
                    if (window.innerWidth < 800) {
                        paypal.Buttons().close(); // Cierra cualquier intento de popup
                    }
                }
            }).render('#paypal-button-container');
        });
    </script>
</body>
</html>
